<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Post Message</title>
</head>
<body>
   <h1>Here you can post:)</h1>
    <form action="/postmessage" method="post">
        <div class="register">
            <div class="entry">
                <textarea name="message" rows="5">Write your message here</textarea><br>
            </div>
            <div class="entry">
                <button type="submit">Post </button>
            </div>
        </div>
    </form>
</body>
</html>